<h1 class="mb-1 restaurant-show-title">修改餐廳資訊</h1>


<div class="container">
  <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
    <div class="form-group row justify-content-center">
      <label for="name" class="col-sm-2 col-form-label">店名<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" placeholder="夢幻西餐廳" value="{{ restaurant.name }}" name="name"
          required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="name_en" class="col-sm-2 col-form-label">英文店名</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name_en" placeholder="Fantasy Restaurant"
          value="{{ restaurant.name_en }}" name="name_en" required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="category" class="col-sm-2 col-form-label">類別<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input list="categories" class="form-control" id="category" placeholder="選擇或新增餐廳類別"
          value="{{ restaurant.category }}" name="category" required>
        <datalist id="categories">
          <option>中東料理</option>
          <option>日本料理</option>
          <option>義式餐廳</option>
          <option>美式</option>
          <option>酒吧</option>
          <option>咖啡</option>
        </datalist>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="image" class="col-sm-2 col-form-label">圖片連結<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="url" class="form-control" id="image" placeholder="https://example.com" pattern="https://.*"
          value="{{ restaurant.image }}" name="image" required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="location" class="col-sm-2 col-form-label">地址<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="location" placeholder="台北市中山區夢幻街1號"
          value="{{ restaurant.location }}" name="location" required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="phone" class="col-sm-2 col-form-label">電話<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="tel" class="form-control" id="phone" placeholder="請依照範例格式輸入 02 1234 5678"
          value="{{ restaurant.phone }}" minlength="8" maxlength="10" name="phone" required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="google_map" class="col-sm-2 col-form-label">Google Map 連結<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="url" class="form-control" id="google_map" placeholder="https://www.google.com.tw/maps/place/XXXX"
          pattern="https://www.google.com.tw/maps/place/.*" value="{{ restaurant.google_map }}" name="google_map"
          required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="rating" class="col-sm-2 col-form-label">評分<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="rating" min="1" max="5" step="0.1" placeholder="1.0 ~ 5.0分"
          value="{{ restaurant.rating }}" name="rating" required>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="description" class="col-sm-2 col-form-label">簡介<span class="text-danger">*</span></label>
      <div class="col-sm-4">
        <textarea id="description" class="form-control" rows="3" name="description"
          required>{{ restaurant.description }}</textarea>
      </div>
    </div>

    <div class="text-center mt-2">
      <button type="submit" class="btn btn-primary mr-2">
        儲存修改
      </button>
      {{!-- use form to go back to index or show page which you came from --}}
      <form>
        <button type="button" onclick="history.back()" class="btn btn-outline-secondary mr-2">
          返回
        </button>
      </form>
      <button type="reset" class="btn btn-outline-danger mr-2">重新輸入</button>
    </div>

  </form>
</div>